.container{
    /* height: 30vw;
    */
    width: 60vh;
     /* padding: 20%; */
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}
.close {
    align-content: right;
}