<div class="container">
    <button class="close" mat-button mat-dialog-close>X</button>
    <h1 mat-dialog-title>Update Details</h1>
    <div class="parent">
        <form [formGroup]="UpdateForm">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label for="roomNo" class="col-form-label">Room Number</mat-label>
                    <input matInput type="text" class="form-control" id="roomNo" formControlName="roomNo"
                        [value]="hostelDetail.roomNo" placeholder="Room Number" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label for="floor" class="col-form-label">Floor</mat-label>
                    <input matInput type="text" class="form-control" id="floor" formControlName="floor"
                        [value]="hostelDetail.floor" placeholder="Floor" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label for="student" class="col-form-label">Student Roll Number</mat-label>
                    <input matInput type="text" class="form-control" id="rollNo" formControlName="rollNo"
                        [value]="hostelDetail.student.rollNo" placeholder="Student Roll Number">
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="updateHostel(UpdateForm)" mat-dialog-close>Update Room Details</button>
        </form>
    </div>
</div>